<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
    <xacro:macro name="custom_robot_ros2_control" params="name initial_positions_file">
        <xacro:property name="initial_positions" value="${load_yaml(initial_positions_file)['initial_positions']}"/>

        <ros2_control name="${name}" type="system">
            <hardware>
                <!-- Switch betewwn these plugin in case you want to work with simulation or real world/Gazebo -->
                <!-- <plugin>mock_components/GenericSystem</plugin> -->
                <plugin>gazebo_ros2_control/GazeboSystem</plugin>
            </hardware>
            <joint name="base_link__link1">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['base_link__link1']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="link1__link2">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['link1__link2']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="link2__link3">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['link2__link3']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="link3__link4">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['link3__link4']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="link4__link5">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['link4__link5']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="link5__link6">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['link5__link6']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="finger_right_joint">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['finger_right_joint']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>

            <joint name="finger_left_joint">
                <param name="mimic">finger_right_joint</param>
                <param name="multiplier">-1</param>
                <command_interface name="position" />
                <state_interface name="position" >
                    <param name="initial_value">0.0</param>
                </state_interface>
                <state_interface name="velocity" />
            </joint>

        </ros2_control>
    </xacro:macro>
</robot>
